<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>

  <p>
    Your data is mine and available for anyone to purchase. If you are interested in purchasing our data, please send an email to inquire. 
    Please note there is an additional fee for personal user data.
  </p>
</div>
 