<br />

<div class="booyah-box col-10 offset-1">
  <h1>Our Team</h1>

  <p>
    We take our privacy very seriously. In order to protect ourselves from data-mining all internal data is encrypted and stored on private servers.
  </p>
</div>