@import "bootstrap";

.navbar {
    font-family: 'kaushan_scriptregular';
    font-weight: 200;
    font-size: 26px;
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('prism.png');

}

.navbar-inverse a.navbar-brand {
    font-family: 'kaushan_scriptregular';
    font-weight: 100;
    font-size: 26px;
    color: white;
}

.hero {
    background: image_url('hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
    margin: 0;
}

.frosty {
    background: rgba(0, 0, 0, 0.2);
    color: #18cc48;
}

.frosty h1 {
    font-family: 'kaushan_scriptregular';
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.9);
}

.frosty h2 {
    font-family: 'kaushan_scriptregular';
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.9);
}

.btn {
    border-radius: 0;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

body {
    background: image_url('white-wave.png');
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}